Body{
	background-color: skyblue;

}

h1{
	background-color: #DB7093;
	text-align: center;
	font-family: candera;
 	 
}

h2{
	background-color: #DDA0DD;
	text-align: left;
	font-family: candera;
	 

}

a{
	background-color: #9ACD32;
	text-align: center;
	font-family: candera;
	 

}


input{
	background-color: #B0C4DE;
	

}