Body{
	background-color: violet;

}

h1{
	background-color: #20B2AA;
	text-align: center;
	font-family: cursive;
 	 
}

a{
	background-color: #FFE4B5;
	text-align: left;
	font-family: Arial;
	 

