Body{
	background-color: lightgreen;

}

h1{
	background-color: #F08080;
	text-align: center;
	font-family: Arial;
 	 
}

h2{
	background-color: #F08080;
	text-align: left;
	font-family: verdena;
	 

}

a{
	background-color: #E6E6FA;
	text-align: center;
	font-family:cursive;
	 

}


input{
	background-color: #87CEFA;
	

