Body{
	background-color: #FF69B4;

}

h1{
	background-color: #DA70D6;
	text-align: center;
	font-family: cursive;
 	 
}

h2{
	background-color: #66CDAA;
	text-align: left;
	font-family: cursive;
	 

}

a{
	background-color: #D2B48C;
	text-align: center;
	font-family: cursive
	 

}


input{
	background-color: #DAA520;
	

}